/*****************************************************************
    Header
*****************************************************************/

header {
    height: 100%;
    width: 20%;
    display: inline-block;
    float: left;
    .logo {
        display: inline-block;
        width: 100%;
        margin: 1% 0 0 1%;
    }
}
